In [21]:
people = {
    "email": [
        "dui.fusce.diam@icloud.edu",
        "orci.lobortis@icloud.net",
        "pulvinar.arcu.et@google.com",
        "quis@aol.org",
        "rutrum.magna@hotmail.com"
    ],
    "name": [
        "Nolan Bernard",
        "Hayes Noble",
        "Joseph Mullins",
        "Cleo Mathews",
        "Owen Cantu"
    ],
    "postalZip": [
        "54670",
        "60425-59982",
        "72241",
        "3613",
        "442851"
    ],
    "country": [
        "Ukraine",
        "India",
        "Philippines",
        "Indonesia",
        "India"
    ]
}

In [22]:
import pandas as pd

df = pd.DataFrame(people)

df

                         email            name    postalZip      country
0    dui.fusce.diam@icloud.edu   Nolan Bernard        54670      Ukraine
1     orci.lobortis@icloud.net     Hayes Noble  60425-59982        India
2  pulvinar.arcu.et@google.com  Joseph Mullins        72241  Philippines
3                 quis@aol.org    Cleo Mathews         3613    Indonesia
4     rutrum.magna@hotmail.com      Owen Cantu       442851        India

# 1 - Indexes

In [23]:
df.set_index('email', inplace=True)

df

                                       name    postalZip      country
email
dui.fusce.diam@icloud.edu     Nolan Bernard        54670      Ukraine
orci.lobortis@icloud.net        Hayes Noble  60425-59982        India
pulvinar.arcu.et@google.com  Joseph Mullins        72241  Philippines
quis@aol.org                   Cleo Mathews         3613    Indonesia
rutrum.magna@hotmail.com         Owen Cantu       442851        India

In [24]:
df.index

Index(['dui.fusce.diam@icloud.edu', 'orci.lobortis@icloud.net',
       'pulvinar.arcu.et@google.com', 'quis@aol.org',
       'rutrum.magna@hotmail.com'],
      dtype='object', name='email')

In [25]:
df.loc['quis@aol.org', ['name', 'country']]

name       Cleo Mathews
country       Indonesia
Name: quis@aol.org, dtype: object

In [26]:
df.iloc[0:2, [0, 2]]

                                    name  country
email
dui.fusce.diam@icloud.edu  Nolan Bernard  Ukraine
orci.lobortis@icloud.net     Hayes Noble    India

In [27]:
df.reset_index(inplace=True)

df

                         email            name    postalZip      country
0    dui.fusce.diam@icloud.edu   Nolan Bernard        54670      Ukraine
1     orci.lobortis@icloud.net     Hayes Noble  60425-59982        India
2  pulvinar.arcu.et@google.com  Joseph Mullins        72241  Philippines
3                 quis@aol.org    Cleo Mathews         3613    Indonesia
4     rutrum.magna@hotmail.com      Owen Cantu       442851        India

# 2 - Filters

In [28]:
filt = (df['country'] == 'India') & (df['postalZip'] == '442851') # filter

filt # Series

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [29]:
df[~filt][['country', 'email']]

       country                        email
0      Ukraine    dui.fusce.diam@icloud.edu
1        India     orci.lobortis@icloud.net
2  Philippines  pulvinar.arcu.et@google.com
3    Indonesia                 quis@aol.org

In [30]:
df.loc[filt, ['country', 'email']]

  country                     email
4   India  rutrum.magna@hotmail.com